body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: #2e2f42;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: white;
}

h2 {
  font-weight: 700;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
}

.container {
  width: 1158px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px; /*0-верх,вниз 15-лево,право */
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.nav-ul a:focus,
.nav-ul a:hover {
  color: #404bbf;
}

.nav-main {
  display: flex;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 40px;
}

.nav-li {
  padding: 24px 0;
}

.logo-link {
  padding: 24px 0;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo {
  color: #2e2f42;
}

.main-header {
  border-bottom: 1px solid #e7e9fc;
}

.address-info a {
  font-weight: normal;
  font-style: normal;
}

.address-link {
  color: #434455;
  padding: 24px 0;
}

.address-info .address-link:hover,
.address-info .address-link:focus {
  color: #404bbf;
}

.address-ul {
  padding: 24px;
  display: flex;
  gap: 40px;
}

.hero {
  padding: 188px 0;
  background-color: #2e2f42;
  color: white;
}

.hero > h1 {
  margin-bottom: 48px;
  text-align: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-text {
  max-width: 496px;
  text-align: center;
  margin: 0;
}

.hero-button {
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  margin: 0;
  background-color: #4d5ae5;
  color: white;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.04em;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.features-header {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-ul {
  display: flex;
  gap: 24px;
}

.features-li {
  width: calc((100% - 72px) / 4);
}

.team-container {
  padding: 32px 0;
}

.team-header {
  margin-bottom: 72px;
  line-height: 1.11;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.team-li {
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.team-li-header {
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-paragraph {
  font-size: 16px;
}

.team-text {
  padding: 32px;
  text-align: center;
}

.team-cards {
  background-color: #f4f4fd;
}

.team-ul {
  display: flex;
  gap: 24px;
  border-radius: 0px 0px 4px 4px;
}

.portfolio-header {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  justify-content: center;
}

.portfolio-li-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfoliothumb {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-paragraph {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.portfolio-container {
  margin: 0 auto;
}

.portfolio-ul {
  flex-wrap: wrap;
  gap: 48px 24px;
  display: flex;
  margin: 0;
}

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-link {
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-paragraph {
  font-weight: 400;
  width: 264px;
  color: #f4f4fd;
}
